<!-------------------------------------- NAV BAR --------------------------------------------->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BHW Agregator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/saved">Saved Articles<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <button type="button" class="btn btn-secondary" id="clear-posts">Clear Posts</button>
        </span>
    </div>
</nav>

<!-------------------------------------- END NAV BAR --------------------------------------------->

<!-------------------------- JUMBOTRON ---------------------------------->
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1 style="font-size:13vh; color:white; margin:auto; text-shadow: 2px 2px 4px #000000;">Saved Posts</h1>
        <p style="font-size:5vh; color:white; margin:auto;text-shadow: 2px 2px 4px #000000;">Your Saved BHW Posts</p>
    </div>
</div>

<!-------------------------- END JUMBOTRON ---------------------------------->



<!-------------------------- EXAMPLE POSTS   -------- ---------------------------------->

<div class="container-fluid">
    {{#each articles}}
    <div class="card mb-2" data-id="{{this._id}}">
        <div class="card-header">
            <h4>
                <a href="{{this.link}}" target="_blank" class="post-link">{{this.title}}</a>
                <button type="button" class="btn btn-success float-right" id="unsave-button"
                    data-id="{{this._id}}">Un-Save</button>

            </h4>
        </div>
        <div class="card-footer text-muted">
            <div class="float-left">
                <span id="last-message"><strong>Last Reply: </strong>{{this.lastMessage}}</span>
                <span id="post-views"><i class="far fa-eye mx-3"> {{this.views}}</i></span>
                <span id="post-replies"><i class="far fa-comments"> {{this.replies}}</i></span>

            </div>

            <br>
            <br>
            <div id="user-saved-notes">
                <h5 class="ml-2">Saved Notes</h5>
                <hr>
                {{#each notes}}
                <div class="alert alert-secondary" role="alert">
                    <span id="populate-note">{{this.text}}</span>
                    <button type="button" class="btn btn-danger float-right mb-1" id="delete-note"
                        data-id="{{this._id}}">x</button>
                </div>
                {{/each}}
            </div>

            <form>
                <div class="form-group mt-2">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                        placeholder="Enter New Note" id="note-text"></textarea>
                    <button type="button" class="btn btn-primary float-right mt-2" id="save-note">Save
                        Note</button>
                </div>
            </form>

        </div>
    </div>

    {{else}}
    <!--------------------------- IF NO SCRAPE RESULTS / SHOW THIS SECTION ------->
    <div id="saved-hide-this">
        <div class="alert alert-info mx-3 text-center" role="alert">
            <h4>No Posts Saved! You Gotta Save Something!</h4>
        </div>

        <div class="card mx-3 mb-2">
            <div class="card-header">
                Come On, Go Browse Some Posts...
            </div>
            <div class="card-body">
                <a href="/" role="button" class="btn btn-info btn-block">Browse Posts</a>
            </div>
        </div>
    </div>
    <!--------------------------- END --- IF NO SCRAPE RESULTS / SHOW THIS SECTION ------->
    {{/each}}

</div>